//-------------------------------------> Variables

$color-accent: #2cc695;
$color-grey-light: #eef3f4;
$color-grey-medium: #a9b4b7;
$color-grey-dark: #555a5b;

$ts: all 0.2s;

//-------------------------------------> Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font: inherit;
  border: none;
}

button {
  border: initial;
  background-color: initial;
  outline: none; // no olvidar agregar focus state
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

//--------------------------------------> Keyframes
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//--------------------------------------> Utility class
.u-italic {
  font-style: italic;
}

.u-accent {
  color: $color-accent;
}

.u-underline {
  text-decoration: underline;
}

.u-bold {
  font-weight: 600;
}

.u-bolder {
  font-weight: 700;
}
//--------------------------------------> base styles

.page {
  font-family: "poppins", sans-serif;
  font-size: 14;
  color: #fff;
  display: flex;
  justify-content: center;
  background-image: url(https://bytegrad.com/course-assets/css/2/pattern.svg),
    linear-gradient(to bottom right, #8fd861, #2cc695 90%);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  width: 1240px;
  height: 1030px;
  background-color: #fff;
  box-shadow: 0 25px 150px rgba(0, 0, 0, 0.65);
  margin: 80px 0;
  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: 65px 724px 1fr;

  @media (max-width: 1300px) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 580px) {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
  
}
//-------------------------------------> styles
.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 26px;
  margin-right: 48px;
}

.search {
  position: relative;

  @media (max-width: 815px) {
    display: none;
  }

  &__input {
    background-color: $color-grey-light;
    height: 34px;
    width: 405px;
    border-radius: 500px;
    font-size: 13px;
    color: $color-grey-dark;
    padding-left: 24px;
    outline: none;
    transition: $ts;

    &:focus {
      width: 425px;
    }

    &::placeholder {
      color: $color-grey-medium;
    }
  }

  &__submit {
    font-size: 15px;
    color: $color-grey-medium;
    cursor: pointer;
    transition: $ts;
    position: absolute;
    right: 13px;
    top: 8px;

    &:focus {
      color: $color-grey-dark;
    }
  }
}

.nav {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__link {
    padding: 0 20px;
    transition: $ts;
    display: block;
    height: 65px;

    &:hover,
    &:focus {
      background-color: $color-grey-light;
      outline: none;
    }
  }

  &__icon {
    color: $color-grey-medium;
    font-size: 22px;
    line-height: 65px;
  }
}

.sidebar {
  background-color: #11271f;
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  .intro {
    padding: 48px 35px 45px;
    border-bottom: 1px solid rgba(#fff, 0.1);

    .first-heading {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 34px;
      line-height: 1;

      @media (max-width: 330px){
        font-size: 31px;
      }
    }

    &__text {
      color: $color-grey-light;
      font-size: 16px;
      margin-top: 12px;
      line-height: 1.8;
    }

    .social {
      display: flex;
      justify-content: center;
      margin: 25px 0 30px;

      &__img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;

        &:not(:first-child) {
          margin-left: -8px;
        }
      }

      &__container {
        margin-left: 10px;
      }

      &__number {
        font-weight: 500;
      }

      &__text {
        font-size: 12px;
        color: $color-grey-medium;
        margin-top: -5px;
      }
    }

    .auth {
      .btn {
        background-color: #16b47f;
        padding: 12px 0;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        transition: $ts;

        &:hover,
        &:focus {
          background-color: #119269;
        }

        &__icon {
          margin-left: 2px;
        }
      }

      &__text {
        color: $color-grey-medium;
        font-size: 12px;
        text-align: center;
        margin-top: 8px;
      }

      &__link {
        font-weight: 500;
        color: $color-accent;
      }
    }
  }

  .upload {
    padding: 45px 35px;
    border-bottom: 1px solid rgba(#fff, 0.1);
    color: $color-grey-medium;

    &__container {
      background-color: rgba(#fff, 0.03);
      height: 330px;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: $ts;
      border: 2px dashed #434747;

      &:hover {
        background-color: rgba(#fff, 0.05);
      }

      &__icon {
        font-size: 33px;
      }

      &__text {
        color: #fff;
        margin-top: 8px;
      }

      &__alternative {
        font-size: 12px;
        margin-top: 2px;
      }
    }
  }

  .footer {
    padding-top: 50px;
    padding-left: 35px;
    font-size: 11px;
    color: rgba($color-grey-medium, 0.6);

    &__list {
      display: flex;
      gap: 8px;
      margin-top: 10px;
    }

    // &__item {
    // }

    // &__link {
    // }
  }

  .copyright {
    font-size: inherit;
  }
}

.gallery {
  background-color: #eef3f4;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 272px 60px 90px 64px 30px 208px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 870px) {
    grid-row: 2 / 8;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  @media (max-width: 580px) {
    display: none;
  }

  &__img-wrapper {
    position: relative;

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      animation: fade-in 1s 0.1s backwards;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      animation: fade-in 1s 0.2s backwards;

      @media (max-width: 870px) {
        display: none;
      }
    }

    &:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      animation: fade-in 1s 0.3s backwards;

      @media (max-width: 1130px) {
        display: none;
      }
    }

    &:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 6;
      animation: fade-in 1s 0.4s backwards;
    }
    &:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 4 / 7;
      animation: fade-in 1s 0.5s backwards;

      @media (max-width: 870px) {
        display: none;
      }
    }

    &:nth-child(6) {
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      animation: fade-in 1s 0.6s backwards;

      @media (max-width: 1130px) {
        display: none;
      }
    }

    &:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
      animation: fade-in 1s 0.7s backwards;
    }

    &:nth-child(8) {
      grid-column: 3 / 4;
      grid-row: 5 / 7;
      animation: fade-in 1s 0.8s backwards;

      @media (max-width: 1130px) {
        display: none;
      }
    }
  }

  &__comment {
    background-color: #fff;
    color: $color-grey-dark;
    padding: 4px 10px;
    border-radius: 500px;
    position: absolute;

    &--1 {
      top: 15px;
      right: 15px;
      @media (max-width: 870px) {
        display: none;
      }
    }

    &--2 {
      bottom: 15px;
      right: 15px;
    }

    &--3 {
      top: 15px;
      left: 15px;
    }

    &--4 {
      bottom: 15px;
      left: 15px;
      @media (max-width: 870px) {
        display: none;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__icon {
    color: $color-accent;
    font-size: 11px;
  }

  &__number {
    font-size: 11px;
    font-weight: 600;
    margin-right: 2px;
  }
}

.steps {
  background-color: #e7edee;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;

  @media (max-width: 870px) {
    display: none;
  }
}

.step {
  text-align: center;
  padding: 0 20px;

  &:nth-child(3) {
    @media (max-width: 955px) {
      display: none;
    }
  }

  &__icon {
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 17px;
    line-height: 50px;

    &--1 {
      color: #67b141;
    }

    &--2 {
      color: #3eb049;
    }

    &--3 {
      color: #1ea97b;
    }
  }

  &__text {
    color: $color-grey-dark;
    font-size: 12px;
    line-height: 1.8;
  }
}

.second-heading {
  color: $color-grey-dark;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}
